:root{
    --main-color :#ffffff;
    --second-color :#f6f8f9;
    --button-color1 :#47adf1;
    --button-color2 :#f6f8f9;
    --button-colorq1 :#9c72e4;
    --button-color-website :#d863a1;
    --button-recruiting :#64c0a9;
    --button-mobile: #f29e33;
    --button-sales: #b0c926;

}


body{
    font-family: Arial, Helvetica, sans-serif, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--second-color);
}



header{
    background-color: var(--main-color);
    height: 80px;
    

}

.logoboolean{
    width: 50px;
    height: 50px;
    vertical-align: middle;
}




main{
    width: 80%;
    background-color: var(--main-color);
    border-radius: 5px;
    margin: 20px auto;
    
}

h1{
    display: inline-block;
    vertical-align: middle;
       
}
    
.buttons{
    margin-left: 20%;
    margin-right: 20%;
    height: 80px;
    padding-top: 20px;
    
}

.buttonadd{
    background-color: var(--button-color1);
    border-radius: 5px;
    color: black;
}
.addsection{
    background-color: var(--button-color2);
    border-radius: 5px;
    color: black;
}


p{
   display: inline-block;
}

button{
    border-radius: 5px;
    border: none;
}


.editorialsbutton{
    background-color: var(--button-color1);
    
}

.q1goals{
    background-color: var(--button-colorq1) ;
}

.recruitecolor{
    background-color: var(--button-recruiting);
}

.mobilecolor{
    background-color: var(--button-mobile);
}

.webcolor{
    background-color: var(--button-color-website);
}

.salescolor{
    background-color: var(--button-sales);
}

.linebreak{
    height: 5px;
    background-color: var(--button-color2);
}